@import url("https://cdn.syncfusion.com/ej2/material.css");
.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover, .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active {
  background: #5869c5;
}
.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-resize-handler, .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active .e-resize-handler {
  background: #fff;
  color: #5869c5;
}

.e-grid .e-edited {
  border-bottom-color: rgb(65, 18, 206) !important; /* Màu của border-bottom khi cell được chỉnh sửa */
}

.e-rowcell:focus {
  border-bottom: 2px solid rgb(57, 34, 230)!important; /* Thay đổi màu border-bottom khi cell được focus */
}
.e-editedbatchcell:focus  input[type="text"]{
  background-color: yellow; /* Đổi màu nền thành màu vàng */
  color: blue; /* Đổi màu chữ thành màu xanh */
  border-bottom: 2px solid rgb(57, 34, 230)!important;
}
.e-grid 
.e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd), 
.e-grid .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd), 
.e-grid .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd), 
.e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), 
.e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), 
.e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
  color: rgba(0, 0, 0, .87);
}